
.ant-card {
  border: none;
  padding-bottom: $font-size-base*2;
  .ant-card-body {
    padding: 0;
  }

  .ant-tag {
    margin: 10px 0;
  }

  h3 {
    font-size: $font-size-base*1.25;
    text-align: left;
    font-weight: bold;
  }

  .card-icon {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }

  ul {
    list-style: none;
  }
}
