$font-size-base: 1rem;
$font-size-xl: $font-size-base*1.75;
$font-size-lg: $font-size-base*1.25;
$font-size-md: $font-size-base*0.875;
$font-size-sm: $font-size-base*0.8125;
$font-size-xs: $font-size-base*0.75;