h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.ant-layout-header{
  padding: 0;
}

.ant-menu-item{
  padding: 0 $font-size-base;
}

.ant-btn-primary{
  background-color: $body;
  color: $white;
  border-color: $body;
  &:hover{
    background-color: $body;
    color: $white;
    border-color: $body;
  }
  &:visited{
    background-color: $body;
    color: $white;
    border-color: $body;
  }
  &:focus{
    background-color: $body;
    color: $white;
    border-color: $body;
  }
}

.ant-btn-ghost{
  background-color: $white;
  color: $body;
  border-color: $gray;
  &:hover{
    background-color: $white;
    color: $body;
    border-color: $gray;
  }
  &:visited{
    background-color: $white;
    color: $body;
    border-color: $gray;
  }
  &:focus{
    background-color: $white;
    color: $body;
    border-color: $gray;
  }
}
