/* font-size */
$font-size-base: 1rem;
/* colors */
$body: #111111;
$white: #ffffff;
$green: #0EAA72;
$gray:#E5E5E5;
/* breakpoints */
$breakpoint-xlg: 1140px;
$breakpoint-lg: 980px;
$breakpoint-md: 768px;
$breakpoint-sm: 480px;
